{% extends 'base.html' %}

{% block title %}Lista de Inversiones{% endblock %}

{% block content %}
<h1>Lista de Inversiones</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Monto Inicial</th>
        <th>Valor Actual</th>
        <th>Fecha de Compra</th>
        <th>Tipo de Inversión</th>
        <th>Acciones</th>
    </tr>
    {% for investment in investments %}
    <tr>
        <td>{{ investment.name }}</td>
        <td>{{ investment.initial_amount }}</td>
        <td>{{ investment.current_value }}</td>
        <td>{{ investment.purchase_date }}</td>
        <td>{{ investment.investment_type }}</td>
        <td>
            <a href="{% url 'portfolio:investment_detail' investment.pk %}">Ver</a>
            <a href="{% url 'portfolio:investment_edit' investment.pk %}">Editar</a>
            <a href="{% url 'portfolio:investment_delete' investment.pk %}" onclick="return confirm('¿Estás seguro de que deseas eliminar la inversión {{ investment.name }}');">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'portfolio:investment_new' %}">Agregar nueva inversión</a>
{% endblock %}