{% extends 'base.html' %}

{% block title %}Lista de Transacciones{% endblock %}

{% block content %}
<h1 class="my-4">Lista de Transacciones</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Inversión</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Propósitos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.investment.name }}</td>
            <td>{{ transaction.transaction_date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>
                {% for purpose in transaction.purposes.all %}
                {{ purpose.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'transactions:transaction_detail' transaction.pk %}" class="btn btn-info btn-sm">Ver</a>
                <a href="{% url 'transactions:transaction_edit' transaction.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'transactions:transaction_delete' transaction.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar la transacción?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'transactions:transaction_new' %}" class="btn btn-primary">Agregar nueva transacción</a>
{% endblock %}